<template>
  <div>
    <LineChart :data="data" />
  </div>
</template>

<script>
import LineChart from '@/components/Chart'

export default {
  components: {
    LineChart
  },
  data() {
    return {
      data: {
        xData: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        seriesData: [820, 932, 901, 934, 1290, 1330, 1320]
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
