<template>
  <div>
    <v-chart :options="lineOption" />
  </div>
</template>

<script>
import ECharts from 'vue-echarts'
import 'echarts/lib/chart/line'

export default {
  components: {
    'v-chart': ECharts
  },
  props: {
    data: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    lineOption() {
      return this.getData(this.data)
    }
  },
  methods: {
    getData({ xData, seriesData }) {
      return {
        xAxis: {
          type: 'category',
          data: xData
        },
        yAxis: {
          type: 'value'
        },
        series: [
          {
            data: seriesData,
            type: 'line',
            smooth: true
          }
        ]
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.echarts {
  width: 400px;
  height: 300px;
}
</style>
