<template>
  <div>
    <div class="message">
      {{ message }}
    </div>
    Enter your username: <input v-model="username" />
    <div v-if="error" class="error">
      Please enter a username with at least seven letters.
    </div>
    <div>
      <button @click="() => add()">{{ count }}</button>
    </div>
    <br />
    <div>
      <span id="tk">{{ $store.state.tk}}</span>
    </div>
    <br />
    <el-form ref="form" :model="form" label-width="80px">
      <el-form-item label="活动名称">
        <el-input v-model="form.name"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">立即创建</el-button>
        <el-button>取消</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Foo',
  data() {
    return {
      message: '',
      username: '',
      count: 0,
      form: {
        name: ''
      }
    }
  },
  methods: {
    add(count = 1) {
      this.count += count
    },
    onSubmit() {}
  },
  computed: {
    error() {
      return this.username.trim().length < 7
    }
  },
  created() {
    // console.log(window.setLabel)
    // window.setLabel()
  }
}
</script>
